<div class="well custom-form col-md-offset-2 col-md-8 col-sm-12">
    <form action="{{ path('trick_comment', {'name': trick.name}) }}" method="post">
        <legend class="ws-md">Ajouter un commentaire</legend>
        <div class="form-group">
            <label for="content">Rider's comment : </label>
            <textarea id="content" type="textarea" name="content" class="form-control font-helvetica" rows="6"></textarea>
        </div>
        <button class="btn ok" type="submit">Ok</button>
    </form>
</div>
