{% extends "layout.html.twig" %}
{% block body %}
    <section id="fg-pw">
        <div class="container">
            <div class="row margin-top-xl">
                <h1 class="form-h1 text-center ws-lg margin-bottom-md">Mot de passe oublié</h1>
            </div>
        </div>
        <div class="well">
            <div class="row">
                <form class="custom-form col-md-offset-2 col-md-8 col-sm-12 font-helvetica" action="{{ path('request_password') }}" method="post">
                    <div class="form-group">
                        <label for="username">Pseudo:</label>
                        <input class="form-control" type="text" id="username" name="username"  />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
