<div id="myModal" class="modal">

    <div class="modal-content">
        <p class="text-center">Etes-vous certain de vouloir supprimer cette figure ?</p>
        <a id="delete-trick-modal" class="btn-sm btn-margin-left">Yes !</a><span class="close-span">No !</span>
    </div>

</div>
