{% extends "layout.html.twig" %}
{% block body %}
    <section id="fg-pw">
        <div class="container">
            <div class="row margin-top-xl">
                <h1 class="form-h1 text-center ws-lg margin-bottom-md">Nouveau mot de passe</h1>
            </div>
        </div>
        <div class="well font-helvetica">
            <div class="row">
                <div class="custom-form col-md-offset-2 col-md-8 col-sm-12">
                    {{ form(form) }}
                    <div class="form-group margin-top">
                        {{ form_widget(form.enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
