body {
    background-color: white;
    font-family: 'Monoton', cursive;
}

a:hover {
    text-decoration: none;
}

a {
    color: black;
}

.ws-lg {
    word-spacing: 20px;
}

.ws-md {
    word-spacing: 10px;
}

#tricks-anchor {
    position: relative;
    top: -90px;
}
/***************************************
                FONT

 font-family: 'Sedgwick Ave Display', cursive;

 font-family: 'Indie Flower', cursive;

 font-family: 'Shrikhand', cursive;



    font-family: 'Permanent Marker', cursive; +1

    font-family: 'Orbitron', sans-serif;

    font-family: 'Bangers', cursive; +1

    font-family: 'Caveat', cursive; +2

    font-family: 'Monoton', cursive; +3

    font-family: 'Rock Salt', cursive; -1

    font-family: 'Special Elite', cursive;

 **************************************/

/***************************************
                IMG
 **************************************/
.full-img {
    width: 100%;
    max-height: 815px;
}

.img-header {
    margin-top: 50px;
}

.img-back {
    background-image: url("../img/pk5full.jpg");
    background-size: cover;
    margin-top: 50px;
    width: 100vw;
    height: 123vw;
    position: relative;
}

.img-back2 {
    background-image: url("../img/ak4.jpg");
    background-size: cover;
    margin-top: 10px;
    width: 100vw;
    height: 52.05vw;
    position: relative;
}

.img-footer {
}

.main-head {
    position: relative;
}

.text1-uppon-img {
    text-align: center;
    background-color: rgba(23, 24, 23, 0.4);
    border: none !important;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.text4-uppon-img {
    background-color: rgba(24, 25, 25, 0.4);
    border: none !important;
    position: absolute;
    bottom: 10%;
    width: 40%;
    left: 0%;
    text-align: center;
}

.text-uppon-img2 {
    background-color: rgba(2, 0, 0, 0.2);
    border: none !important;
    position: absolute;
    bottom: 40px;
    right: 0;
}

.text1-uppon-img p, .text-uppon-img2 p {
    font-size: 2.5vw;
    color: black;
    padding-top: 1vw;
    padding-right: 1vw;
    padding-left: 1vw;
    font-family: 'Caveat', cursive;
}

.snow-tricks {
    color: skyblue;
    font-size: 5vw;
}

.snow-tricks3 {
    color: darkorange;
    text-shadow: 3px 3px black;
    font-size: 3.7vw;
}

.snow-tricks2 {
    color: darkorange;
    font-size: 3.5vw;
}

.img-slot-details {
    background-color: whitesmoke;
    height: 140px;
    width: 250px;
    margin-top: 10px;
}

/***************************************
                NAV
 **************************************/

#mainNav {
    background-color: black;
    border: none;
    font-size: 20px;
}

.navbar-default .navbar-brand {
    color: skyblue;
    font-size: 20px;
}

.navbar-default .navbar-brand:hover {
    color: skyblue;
}

.navbar-default .navbar-nav > li > a {
    color: snow;
}

.navbar-default .navbar-nav > li > a:hover {
    color: darkorange;
}

.navbar-toggle {
    padding: 0 5px;
    color: snow;
}
/*************************************
              SECTION
**************************************/
#trick-index {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
}

#trick-show {
    padding: 10px;
    margin-bottom: -20px;
}

#trick-content {
}

.h1-snow h1 {
    font-size: 6em;
    color: whitesmoke;
    padding-bottom: 5px;
    padding-top: 5px;
    text-shadow: 0 20px 3px skyblue, 0 40px 4px darkorange, 0 0 1em orangered, 0 0 2em darkorange;
}

.h1-snow {
    background-color: white;
    margin: 30px 0;

}

.trick-codex {
    margin: -30px 0 0;
}

.trick-codex h2 {
    padding: 5px;
    font-size: 4em;
    color: darkorange;
    background-color: #313131;
}

/*************************************
             @MEDIA
**************************************/
@media (max-width: 767px) {

    body {
    }
    .trick-name h1, .form-h1, .h1-snow h1, .trick-codex h2 {
        font-size: 2.5em !important;
    }
    .description p {
        font-size: 0.85em;
    }

    .h1-snow h1 {
        text-shadow: 0 8px 3px skyblue, 0 16px 4px darkorange, 0 0 1em orangered, 0 0 2em darkorange;
    }

    #trick_enregistrer, #user_profile_enregistrer {
        font-size: 1.6em !important;
        background-color: #8959A8;
    }

    .login {
        font-size: 20px !important;
    }
}

@media (max-width: 991px) {
    .trick-cat {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

}

@media (min-width:460px) {
    .trick-date, .trick-update {
        border-left: 15px solid whitesmoke;
        border-right: 15px solid whitesmoke;
    }
}

@media (max-width: 460px) {
    .trick-cat h4, .trick-date h4, .trick-update h4{
        font-size: 1.1em;
    }
    .trick-date, .trick-update {
        border-left: 1px solid whitesmoke;
        border-right: 1px solid whitesmoke;
    }

    .trick-date, .trick-update, .trick-cat {
        height: 95px;
    }
}

/*************************************
             FORM
**************************************/

.comment-form {
    margin-top: -10px;
    margin-bottom: 20px;
}

.well-form-comment {
    background-color: #313131;
    color: #8959A8;
}

.well-form-comment legend {
    color: #8959A8;
}

.well-form-comment label {
    display: none;
}

.custom-form {
    margin-top: 50px;
}

.form-media {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #313131;;
}

.form-h1 {
    padding: 5px;
    font-size: 4em;
    color: darkseagreen;
    background-color: #313131;
}

#add_image {
    color: skyblue;
}

#add_image:hover {
    background-color: #313131;
    color: skyblue;
}

#add_video {
    color: darkorange;
}

#add_video:hover {
    background-color: #313131;
}
#trick_name {
}

#trick_trickGroup {

}

#trick_description {
}

#trick_images {
    color: skyblue;
}

#trick_images .form-group {
}

#trick_videos {
    color: darkorange;
    display: block;
}

#trick_enregistrer, #user_profile_enregistrer {
    margin-top: 0;
    width: 80%;
    margin-left: 10%;
    height: 60px;
    font-size: 2em;
    font-family: 'Monoton', cursive;
    color: darkseagreen;
    background-color: white;
    border: 1px solid black;
}

#trick_enregistrer:hover, #user_profile_enregistrer:hover {
    background-color: #313131;
    color: darkseagreen;
}

.form-media-up {
    padding: 3px;
    border-radius: 10px;
    margin: auto;
}

.image-form {
    height: 140px;
    width: 200px;
    border : 3px solid black;
    margin: auto;
}

.form-media-up label {
    display: none;
}

.form-avatar {
    padding: 25px 10px 10px 10px  ;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #313131;
    color: #8959A8;
    margin-bottom: 30px;
}

#user_profile_avatar .control-label {
    display: none;
}
/*************************************
             TRICK
**************************************/
.trick-content {
    font-family: 'Caveat', cursive;
}

.trick-name-index {
    color: black;
    font-size: 2.3rem;
    margin-top: 10px;
    font-family: 'Caveat', cursive;
}

.trick-name-index a:hover{
    color: darkorange;
}

.trick-name {
    margin: 20px 0;
}

.trick-name h1 {
    padding: 5px;
    font-size: 4em;
    color: darkorange;
   background-color: #313131;
   /* text-shadow: 0  13px 3px darkorange, 0 26px 4px #313131, 0 0.1em 1em orangered, 0 0 2em grey; */
}

.description {
    background-color: whitesmoke;
    margin-bottom: 22px;
    padding-left: 15px;
    padding-bottom: 20px;
    font-size: 1.6em;
    padding-top: 15px;
    padding-right: 15px;
}

.description p {
    text-align: justify;
}

.trick-info {
    background-color: whitesmoke;
    margin-top: -22px;
    margin-left: 0;
    margin-right: 0;
}

.trick-date, .trick-cat, .trick-update {
    background-color: black;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.trick-date {
    color: darkorange;
}

.trick-cat {
    color: skyblue;
}

.trick-update {
    color: whitesmoke;
}

/*************************************
             BTN
**************************************/
.btn-edit {
    background-color: cadetblue;
    color: white;
}

.btn-edit:hover {
    background-color: skyblue;
    color: white;
}

.btn-trash:hover {
    background-color: black;
    color: red;
}

.btn-trash {
    color: red;
    background-color: #C9C5C4;
}

.btn-margin-left {
    margin-left: 2px;
}

.ok {
    background-color: skyblue;
    color: whitesmoke;
}

.ok:hover {
    background-color: darkorange;
    color: whitesmoke;
}

/*************************************
             MARGIN
**************************************/

.margin-top-xl {
    margin-top: 60px;
}

.margin-top-md {
    margin-top: 30px
}

.margin-h-md {
    margin: 30px 0;
}

.margin-top-sm {
    margin-top: 2vw;
}

.margin-bottom-md {
    margin-bottom: 30px;
}

/*************************************
             COMMENTS
**************************************/
#comments {
}

.trick-comments {
    background-color: whitesmoke;
    font-family: 'Caveat', cursive;
    font-size: 1.4em;
}

.user-comment p {
    text-align: justify;
}

.user-comment {
    padding: 15px 15px 0 15px;
}

.user-name {
    text-align: center;
}

.comment-div {
    display: none;
    background-color: whitesmoke;
    border-bottom: 3px solid grey;
}

#loadMore-div {
    display: flex;
    justify-content: center;
}

#loadMore {
    display: inline-block;
    cursor: pointer;
    margin-top: 15px;
    border: 2px solid skyblue;
    padding: 5px;
}
/*************************************
             MESSAGE FLASH
**************************************/
.message {
    font-family: 'Caveat', cursive;
    display: flex;
    justify-content: center;
}

.notice {
    font-size: 1.5em;
    color: black;
    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;
    padding: 20px;
}

.message-login {
    font-family: 'Caveat', cursive;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50px;
    background-color: rgba(25, 25, 25, 0.4);
    width: 100%;
}

.login {
    font-size: 35px;
    color: skyblue;
    padding: 15px;
}

/*************************************
             FOOTER
**************************************/

#footer-text {
    padding: 20px 0;
}

/*************************************
             FONT
**************************************/

.font-caveat {
    font-family: 'Caveat', cursive;
    font-size: 2em;
}

.font-caveat-md {
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
}
.font-caveat-sm {
    font-family: 'Caveat', cursive;
    font-size: 1em;
}

.font-marker {
    font-family: 'Permanent Marker', cursive;
}

.font-bangers {
    font-family: 'Bangers', cursive;
}

.font-indy {
    font-family: 'Indie Flower', cursive;
}

.font-helvetica {
    font-family: 'Helvetica Neue', sans-serif;
}

/*************************************
             ASIDE MENU
**************************************/

#menu {
    z-index: 2;
    font-size: 20px;
    background-color: transparent;
    position: fixed;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 1%;
    bottom: 7%;
}

#menu-plus, #menu-add, #menu-user, #menu-home, #menu-edit, #menu-scroll, #menu-scroll-connected {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    opacity: 1;
    display: flex;
}

#menu-plus {
    background-color: black;
}

#menu-plus:hover, #menu-add:hover, #menu-user:hover, #menu-home:hover, #menu-edit:hover,
#menu-scroll:hover, #menu-scroll-connected:hover {
    background-color: whitesmoke;
    border: 4px solid black;
}

#menu-add {
    background-color: black;
    display: none;
}

#menu-user {
    background-color: black;
    display: none;
}

#menu-home {
    background-color: black;
    display: none;
}

#menu-edit {
    background-color: black;
    display: none;
}

#menu-scroll {
    background-color: black;
}

#menu-scroll-connected {
    background-color: black;
    display: none;
}

.glyphicon-flash
{
    color: #8959A8;
    margin: auto;
    padding-bottom: 1px;
    text-decoration: none;
}

.glyphicon-plus {
    color: darkorange;
    margin: auto;
    padding-bottom: 3px;
    padding-left: 1px;
}

.glyphicon-minus {
    color: darkorange;
    margin: auto;
    padding-bottom: 3px;
    padding-right: 2px;
}

.glyphicon-home {
    color: palevioletred;
    margin: auto;
    padding-bottom: 3px;
    padding-right: 2px;
}

.glyphicon-pencil {
    color: skyblue;
    margin: auto;
}

.glyphicon-sunglasses {
    color: darkseagreen;
    margin: auto;
    padding-bottom: 3px;
    padding-left: 2px;
}

.glyphicon-edit {
    color: #ffcc00;
    margin: auto;
    padding-bottom: 2px;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #313131;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Caveat', cursive;
    font-size: 2em;
    color: whitesmoke;
}

.close-span {
    float: right;
    color: darkorange;
    cursor: pointer;
}

.close-span, #delete-trick-modal {
    font-weight: bold;
    font-size: 1em;
    opacity: 1;
}

.close-span:hover,
.close-span:focus,
#delete-trick-modal:hover,
#delete-trick-modal:focus {
    color: black;
    opacity: 1;
}

#delete-trick-modal {
    color: skyblue;
}

/*******************************
          ERROR
*********************************/

.error-login {
    background-color: #313131;
    color: darkorange;
    font-family: "Caveat", cursive;
    font-size: 1.7em;
    margin : 0 10% 3% 10%;
}

/*******************************
          BOOTSTRAP
*********************************/

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: black;
}

.dropdown-menu {
    margin-top : 4px;
}

ul .dropdown-menu {
    background-color: #313131;
    border-radius: unset;
    width: 200px;
}

ul .dropdown-menu a {
    color: darkorange;
}

ul .dropdown-menu a:hover {
    color: skyblue;
    background-color: black;
}

.navbar-nav .open .dropdown-menu {
    background-color: #313131;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    background-color: black;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
    color: whitesmoke !important;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a:hover {
    color: skyblue !important;
}

.navbar-default .navbar-toggle {
    margin-top: 9px;
    border-color: skyblue;
}

.caret {
    color: skyblue;
    margin-top: 40px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #313131;
}

a:focus, a:hover {
    color: black;
}

