<h3>Bonjour {{ user.username|capitalize }}!</h3>

<p>Tu n'as plus qu'à cliquer sur le lien pour procéder à la réinitialisation de ton mot de passe... A tout de suite :)</p>
<a  href="{{ url('check_reset_token', { 'token': token }) }}">Réinitialiser mon mot de passe</a>

<p>Après la réinitialisation de ton mot de passe, tu pourras à nouveau te connecter.</p>
<p>Merci !</p>
<p>SnowTricks Team</p>
<img src="{{ absolute_url(asset('img/pk1min.jpg')) }}">
